.overdue-row {
  background-color: rgba(255, 0, 0, 0.1); /* Jasnoczerwone tło */
}

.returned-row {
  background-color: rgba(0, 255, 0, 0.1); /* Jasnozielone tło */
}

.borrowed-row {
  background-color: rgba(255, 255, 0, 0.1); /* Jasnożółte tło */
}
