
.container {
  min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: black;
}

.header {
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  height: 120px;

}

.logo {
  display: block;
    width: 750px;
    font-size: 24px;
    margin: 32px 32px;
    padding: 16px 16px;
    letter-spacing: 4px;
    line-height: 32px;
}

.menu {
    margin: 0 20px;
    width: 100%;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

Footer {
    text-align: center;
}

