.user-avatar, .user-login {
  width: 500px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  gap: 10px;
  text-align: right;



  p {
    letter-spacing: 2px;
    line-height: 18px;
  }

  .card {
    letter-spacing: 0.5px;
  }

  .card, .login-link {
    font-size: 12px;
  }

  .login-link {
    cursor: pointer;
    padding: 1px;
    border-radius: 6px;
    &:hover {

      transition: color 0.3s ease, background-color 0.3s ease;
      text-decoration: underline;


      &:hover {

      }
    }
  }

}


.user-login {
  flex-direction: column;
  justify-content: center;
}
