.stats-month {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
  justify-content: center;
  align-content: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  .select-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 180px;
  }
  .stats-month-total {
    font-size: 64px;
  }

}

